@model ProductInFridge
<form method="post" asp-controller="Home" asp-action="UpdateProductForm" asp-route-fridge_id="@ViewBag.FridgeId">

  <div class="form-group">
    <label for="exampleFormControlSelect1">Chose product</label>
    <select class="form-control" id="exampleFormControlSelect1" name="product_id">
            @{
                using HttpClient client = new HttpClient();
                var result = await client.GetAsync($"{ViewBag.WebApiName}/Product/All");
                IEnumerable<Product> products = JsonSerializer.Deserialize<IEnumerable<Product>>(result.Content.ReadAsStringAsync().Result, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
                foreach(Product product in products)
                {
                    <option value="@product.Id">@product.Name</option>
                }
            }
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Input quantity</label>
    @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
  </div>
  <input type="submit" value="Edit" class="btn btn-primary"/>
</form>